---
import { getCollection } from 'astro:content';
import Layout from '@layouts/DefaultBrutal.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='Kapisce Blog | A collection of posts about technology and other interesting topics'
  pageTitle='Kapisce Blog'
>
  <main class='bg-green p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
