---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
---

<Layout
  title='Home'
  pageTitle='Brutal Theme | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-4'>
      </div>
      <div class='col-span-2'>
      </div>
      <div class='col-span-2'>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
